#learn_more a {
  float: left;
  bottom: 30px;
  display: block;
  width: 127px;
  height: 51px;
  text-indent: -10000px;
  line-height: 50px;
  font-size: 24px;
  color: #000;
  text-align: center;
  
}

.search_box{
    float: right;
    padding-top: 10px;
    margin-right: 175px;
    margin-top: 18px;
    width: 190px;
}


ul{
        padding: 20;
        list-style: none;
        
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: center;
    }
    ul li a{
        display: block;
        padding: 10px 35px;
        color: #ffffff;
        text-decoration: none;
    }
    ul li a:hover{
        color: ##696969;
        background: #00FF00;
    }
    ul li ul.dropdown{
        min-width: 125px; 
        background: #000000;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	
    }
    ul li ul.dropdown li{
        display: block;
    }
    .header-left{
    	width: 32%;
    	float: left;
    	font-size: 24px;
    }
    .banner-image{
    	float: left;
    	width: 44%;
    	padding: 1px 20px;
    }
    .banner{    
    	background-color: #FF4500;
	    clear: both;
	    height: 391px;
	    margin-top: 0px;
	    padding-top: 48px;
	    padding-left: 119px;
	    padding-right: 36px;
		    margin-left: -9px;
    margin-right: -10px;
    }
    .banner-text{
    	font-size: 18px;
    }
    #main{
    	background-color: #B7B5B5;
    	height: 313px;
    	padding-left: 127px;
    	padding-top: 26px;
		margin-left:-13px;
    }
.header{
	background-color: #0f1e50;
	height: 120px;
	margin:-10px;
}
.header_right{
	float: right;
	line-height:7px;
	text-align:center;
    padding-right: 47px;
}

.subm{
    padding-left: 0px;
    padding-right: 0px;
}
/*
#main{
    	background-color: #808080;
    	height: 312px;
    	padding-left: 140px;

    }*/
.b1{
    float: left;
    margin-right: 209px;
    width: 186px;
    display: inline block;
     color: #000000;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    line-height: 1.5em;
}

.h10{
	height: 10px;
}
.leaner{
	clear: both;
}
.b2{
	float: left;
	width: 300px;
	margin-right: 30px;
}
.h30{
	height: 30px;
}
.p1{
	margin: 0px;
}

.b1 p a {
	color: #FF4500;
}
.banner-text p{
	font-style: italic;

}

.header-left{
	font-style: 900;
	color: #ffffff;
}
.bannerimg{
	height: 330px;
}
/*.header-top{
	background-color: #FF4500 ;
	   height: 75px;
    margin: -16px;
}*/
.footer-top{
	background-color: #312626;
	height: 252px;
}
/*
.block{
	width: 168px;
	height: 114px;
	float: left;
	margin-right: 122px;
	font-size: 14px;
}*/
/*#ft{
	float: left;
	margin: -1%;
	padding-left: 82px;
}*/
.w{
	color: #ffffff;
}
li{
	list-style: none;
}
/*
.footer{
	height: 50px;
	color: #8B4513;
	text-align: center;
	padding: 5px;
	background-color: #000000;
}*/

#footer_top{
	background: #312626;
	width: 100%;
	height: 331px;
	color: #978787;
	margin-left: -8px;
    padding-right: 30px;
	font-size:12px;
	

}

.coll{
	width: 250px;
    height: 250px;
    float: left;
    margin-left: 80px;
    text-align: center;
    margin-left: 54px;
    padding-top: 8px;
    font-size: 15px;
	
}
/*
.col1{margin-right: 80px;}
.col2{margin-right: 80px;}
.col3{margin-right: 80px;}
*/

#footer_bottom{
	width: 100%;
    border-top: 1px solid #423535;
    background: #151010;
    height: 50px;
    margin-left: -8px;
    width: 100%;
    padding-right: 26px;
    text-align: center;
    color: #312626;
    text-decoration: none;
    line-height: 50px;
}

#footer_bottom a{
    color: #312626;
    text-decoration: none;
}

.coll2{
    padding-top: 33px;
    font-size: 14px;
}

#form{
    /*margin: 100px;*/
    /*background-color: #FF4500;*/
    margin: 10px;
    /*height: 396px;*/
    line-height: 225%;
    margin-left: -10px;
    padding-top: 30px;
    margin-right: -10px;
    margin-bottom: 0px;
}



.form_str{
    width: 550px;
    padding: 0 34%;

}

#form_text{
    float: left;
    text-align: left;
    /*padding-left: 400px;*/
    width: 30%;
    
}

#form_input{
    /*width: 50%;*/

}
